mixin slider-nav(data)
    - var sliderName = data?.sliderName
    - var className = data?.class || false
    .slider-nav(class = className)
        button.slider-nav-prev(data-slider-prev=sliderName): +icon('ic_arr-left')
        button.slider-nav-next(data-slider-next=sliderName): +icon('ic_arr-right')
