mixin apartment-detail()
    -var id = Math.round(Math.random() * 999999)
    .apartment-details
        div= `ID${id}`
        div Квартира
        div 174.0 м²
        div 4/7 этаж
        .hide-from-xl Под отделку
        .text-right-from-xl 219 000 000 ₽
        a(href="/img/residentials/apartments.jpg" data-fslightbox=id).apartment-details__image
            picture
                img(src="/img/residentials/thumb-apartments.jpg")

