mixin anchors-block(links)
    nav.anchors-block
        each link in links
            a.observed(
                href = `#${link.anchor}`
                class = {active: link.active})
                = link.title
